[2015-08-22 19:30] rtfpessoa opened #4 "Variable 'template' is already declared in line 51."
### [Codacy](https://www.codacy.com/app/Codacy/diff2html-cli/commit?cid=14404001) detected an issue:
#### Message: `Variable 'template' is already declared in line 51.`

#### Occurred on:
+ **Commit**:  c5f20882e93901c4f21423e6c9b3f6d9446032d3
+ **File**:    [src/main.js](https://github.com/rtfpessoa/diff2html-cli/blob/c5f20882e93901c4f21423e6c9b3f6d9446032d3/src/main.js)
+ **LineNum**: [52](https

[2015-09-06 16:18] rtfpessoa commented on #4
fixed on #3

[2015-09-06 16:18] #4 closed

[2016-01-15 23:37] rtfpessoa opened #11 "Analyse electron to show the diff"
Try to see if it is easy to integrate electron to draw the diff instead of the browser.

[2016-01-29 19:14] sreich opened #13 "open is not recognized as an internal or external command"
└─[$] diff2html.cmd -i file -- difftest.diff                                                                                                              [14:09:15] 'open' is not recognized as an internal or external command,
operable program or batch file.
child_process.js:507
    throw err;
    ^

Error: Command failed: open /tmp/diff.html
'open' is not recognized as an internal or external comm

[2016-01-29 21:13] rtfpessoa commented on #13
I have some OS specific stuff in the code.
I will try to remove it. But I still have no way to test it.
If you can do some testing after the fix I would appreciate.

[2016-01-29 21:35] sreich commented on #13
sounds good. how will i update to your changes? i installed using npm.

java guy, never used node

[2016-01-29 21:37] rtfpessoa commented on #13
As soon as I release something you just will have to do `npm update -g
diff2html-cli`.
On Fri, Jan 29, 2016 at 9:35 PM Shaun Reich notifications@github.com
wrote:

[2016-01-29 22:15] rtfpessoa commented on #13
@sreich can you update with `npm install -g diff2html-cli@1.4.0-windows1`
Since it is a pre-release I am not sure the update will take you there.

Then report back it is fixed. If can can check other features and report here, it would be really appreciated.

[2016-02-01 12:09] sreich commented on #13
awesome! works perfectly now.

[2016-02-01 12:15] rtfpessoa commented on #13
Closing this then :smile:

[2016-02-01 12:15] #13 closed

[2016-02-04 13:42] sreich opened #15 "error when given 0 byte file (windows?)"
me again :)

i'm not sure if this is a platform specific issue, but i'm leaving the option open, given the other issues i ran into on this platform

if i give it a 0 byte file, which on windows was generated from something like 'hg diff -r rev1:rev2 > thing.diff', and converted using dos2unix to unix line endings...(horrible i know, but this utility chokes on them too..for which i will file anothe

[2016-02-04 13:46] sreich opened #16 "generates empty html file when diff has windows line endings (CRLF)"
when the diff diff2html-cli is given, has CRLF line endings, the generator will generate a valid html file, but it will act as if the source diff was empty.

obviously, this isn't ideal on windows -- especially when everything is so hard coded (cmd, powershell) to always output \r\n.

i'm not sure how fixable this is for you, or if it touches the entire code base (hope not). presently i'm running

[2016-02-04 13:47] pbu88 commented on #16
I've run into this issue too when implementing diffy. I basically fixed it on my end by turning CRLF into LF only but I think it won't hurt to fix the parser to address this case (this issue actually belongs in diff2html) :)

[2016-02-04 13:58] rtfpessoa commented on #15
Weird, it gave you the message `The input is empty. Try again.` but still it crashed. Need to check.

Just so you do not think I am skipping this, I am taking note of the issues and when I have time I will look into them.

Still if you want I am always look for some help with prs.

[2016-02-04 13:59] rtfpessoa commented on #16
Moving this to [https://github.com/rtfpessoa/diff2html/issues/57](https://github.com/rtfpessoa/diff2html/issues/57)

[2016-02-04 13:59] #16 closed

[2016-02-06 19:10] rtfpessoa commented on #15
@sreich fixed in [https://github.com/rtfpessoa/diff2html-cli/commit/534fdd8d861610420ee61f86f7941cee31450b8f](https://github.com/rtfpessoa/diff2html-cli/commit/534fdd8d861610420ee61f86f7941cee31450b8f) released as version `1.4.1`.

[2016-02-06 19:10] #15 closed

[2016-04-12 20:24] efurban opened #17 "Takes hours for finish a 300kb diff file."
HI,
I really love the tool and currently running it under windows.
however my git diff file is around 300KB, the tool takes 3 hours to finish , without any output file (am using -F option).   memory usage is around 800MB.
Just wondering if you have encountered the same issue before?

Tried diffy.org  without no issues at all.
https://diffy.org/diff/4wng00ndqz7iudi

thanks.
Travis
[diffReport.txt](

[2016-04-12 21:27] rtfpessoa commented on #17
Can you test with `npm install -g diff2html-cli@1.4.2`, it was before nunjucks was added.

Let me know if it helps

[2016-04-12 21:37] pbu88 commented on #17
Tried different combinations with the latest versions of everything and it seemed to work pretty fast, including this command: `bin/diff2html -i file -F  xx ~/Downloads/diffReport.txt` and everything worked pretty fast. Can you share the exact version you are using of diff2html-cli and diff2html and the exact command that you are using to call it?

Thanks

[2016-04-12 22:29] efurban commented on #17
I should have mentioned that I am on a Windows machine and running this in git bash.
did try the combinations of all of the following:
node.js v.5.10.1 Stable
node.js v.4.4.2 LTS
node-v0.10.28-x86
diff2html-cli@1.4.2
diff2html-cli@1.4.6-beta3

Command that I am calling:
diff2html --file diff.html --style line --summary open --input file -- diffReport.txt

Any ideas?  maybe I should build a Linux b

[2016-04-12 22:30] efurban commented on #17
It works perfectly for smaller diff though.
@ 04/13/2016 9:29 AM
tried on a different Windows 7 machine. same outcome.

[2016-04-13 13:51] efurban commented on #17
got an ubuntu running and tested it with the same command but with the issue.  see the screenshot below:
http://screencast.com/t/peNOkYhnss

eventually it came back with error:
FATAL ERROR: CALL_AND_RETRY_2 Allocation failed - process out of memory

[2016-04-13 13:54] rtfpessoa commented on #17
I think I have the same problem. I will look into this.

[2016-04-13 13:59] pbu88 commented on #17
Hmm strange, I haven't been able to reproduce it on Mac OSX. For me it works fast.

[2016-04-13 14:00] rtfpessoa commented on #17
I just tried with his command, and his file and I got stuck, on OS X.
Will do some debugging.

[2016-04-13 14:05] efurban commented on #17
thanks a lot rtfpessoa.

[2016-04-13 16:16] rtfpessoa commented on #17
So just got it.

The `Rematch.distance(amod, bmod)` algorithm is taking too long, and maybe getting an infinite loop or something.

I will move this to [diff2html](https://github.com/rtfpessoa/diff2html).

@efurban In the meanwhile try to run this with `--lm none`

[2016-04-13 16:44] efurban commented on #17
--lm none  worked!!  thanks a lot guys.
Really love this tool.

[2016-05-06 22:23] rtfpessoa commented on #17
This was fixed in diff2html.

[2016-05-06 22:23] #17 closed

[2016-05-29 22:56] andruhon opened #18 "It is probably worth to mention in docs that it expects unified diff"
Say
```diff -u fileA.txt fileB.txt | diff2html -F diff.html -i stdin```

But not
```diff fileA.txt fileB.txt | diff2html -F diff.html -i stdin```

[2016-05-31 16:56] rtfpessoa commented on #18
Hi @andruhon, until a couple of weeks ago it only supported git diffs. Then I added support for unified diffs but I did not update the docs. I will try to do it soon, with better explanation.

[2016-09-18 21:49] rtfpessoa commented on #18
Fixed

[2016-09-18 21:49] #18 closed

[2016-10-14 20:09] webchaz opened #20 "how to define input as string"
Is there a way to define the input as two strings as oppose to two files?

[2016-10-14 20:18] rtfpessoa commented on #20
Currently there is no way to do this, since we only invoke git directly.

And the feature it self seems out of context for the purpose of this project.

Still, you can probably use [diff](https://www.npmjs.com/package/diff)'s method `JsDiff.createTwoFilesPatch(oldFileName, newFileName, oldStr, newStr, oldHeader, newHeader)` and then feed it to diff2html, but I am not 100% sure.

[2016-10-14 20:18] #20 closed

[2017-01-13 10:36] mkurz opened #22 "Synchronised scroll doesn't work"
Using `diff2html -s side --sc enabled` or `diff2html --synchronisedScroll enabled -s side`

[2017-01-15 19:17] rtfpessoa commented on #22
There was a problem with config usage. Should be fixed in v2.0.5.

[2017-01-15 19:17] #22 closed

[2017-01-15 21:01] mkurz commented on #22
Thanks, will give it a shot tomorrow.

[2017-01-16 11:42] mkurz commented on #22
Thank you, it worked!

[2017-04-20 09:03] greggman opened #23 "doesn't work with diff?"
Maybe I'm mis-understanding the docs but I tried using `diff` to generate a `.diff` file and then using `diff2html` but it shows no diffs

[code]

the result is this

![screen shot 2017-04-20 at 6 02 58 pm](https://cloud.githubusercontent.com/assets/234804/25222517/a252d61e-25f3-11e7-8490-770a30047c04.png)

Is it supposed to work with diff files?

[2017-04-20 09:10] rtfpessoa commented on #23
The tool only supports `unified diff` or `git diff`. You can do for example `git diff --no-index file1 file2` (even without a git repo). `diff` probably also has a flag to output unified diff.

[2017-04-20 09:10] #23 closed

[2017-04-20 09:46] greggman commented on #23
Oh, haha.  I read this

as "unified input of both diff and Git diff" 😅

[2017-04-20 09:54] rtfpessoa commented on #23
np 😄

[2017-04-20 10:06] pbu88 commented on #23
You can also use `diff` with the `-u` switch. Basically it tells diff to output in a unified diff format.

[2017-04-20 13:40] rtfpessoa commented on #23
That is probably it. Thanks @pbu88

[2017-04-23 00:58] blackdrago opened #24 "Output file not showing all changed files when using diff -ru"
diff2html handles modifications perfectly, but it seems to ignore both new files and deleted files.

I'm running diff2html via the cli. For reference: diff2html 2.3.0, diff2html-cli 2.5.0. I'm using this to diff between my working SVN directory and my web directory (where I've made several changes).

I've tried pipping the diff directly to diff2html and outputting the diff in a file and then using

[2017-04-23 01:25] rtfpessoa commented on #24
@blackdrago diff2html shows new files like this https://diff2html.xyz/demo?diff=https://github.com/rtfpessoa/diff2html-cli/commit/184abc28ee5b47b51169e8981a5225aeff341ec2#d2h-109595

Can you post the unified diff output here?

[2017-04-23 02:16] blackdrago commented on #24
This unified diff output is from the following command:
diff --exclude=.svn -ru /home/vagrant/projects/svn/project-name /var/www/html/sandbox/vendor/vendor-name/project-name  > diffOut.txt

I've attached diffOut.txt and a screenshot of the diff2html file, which shows 6 changed files (but no new files). Let me know if you need anything else.

[removed attachments]

[2017-04-23 12:37] rtfpessoa commented on #24
diff2html only finds new files because `git diff` provides extra information. Since you are using diff it cannot know if the file is new in the same way.

Maybe it can be done by checking if all the lines are new or deleted.

Could be a nice improvement to do. If you are interested a PR would be nice.

We could perform the check here https://github.com/rtfpessoa/diff2html/blob/master/src/diff-pars

[2017-04-23 17:30] blackdrago commented on #24
Definitely interested. Could you give me a file with sample output from a git diff with modified as well as new / removed files? That would show me what diff2html expects and give me a comparison to start with.

[2017-04-25 00:23] rtfpessoa commented on #24
A new file git diff would look like this:

[code]

But in your case I think the best way would be just to check if all the lines in the file are new or remove when adding the file to the list after parsing it.

[2017-04-26 14:37] blackdrago commented on #24
I found that no code update is necessary. I discovered that diff2html will report new files, you need only pass --new-file to diff:

I was running:
diff --exclude=.svn -ru /localpath /svpath | diff2html -F /var/www/html/diff-out.html -i stdin

"New File" flag:
diff --exclude=.svn --new-file -ru /localpath /svpath | diff2html -F /var/www/html/diff-out.html -i stdin

New and deleted files now appear

[2017-04-26 14:37] #24 closed

[2017-04-26 15:09] rtfpessoa commented on #24
Ok. Nice no problem.

Still I might pick this when I get some time since it is nice if I can detect this files even without the extra info.

[2017-04-26 20:39] pbu88 commented on #24
Just a small note, checking if all the lines are added or deleted might be a legit case of a non-new/deleted file. Say you decide to delete all the lines in a file to start new (or because is part of some process). Same for additions. Is unlikely, but people use git in very different ways.

Finding the right command I think is the best approach. Is not diff2html responsibility to try to figure out

[2017-04-26 20:46] rtfpessoa commented on #24
@pbu88 good point.

[2017-04-27 16:43] pbu88 commented on #11
Although this is old, it sounds cool. I've wanted to work with electron for a while, but might be also a bit overkill :-)

[2017-04-27 16:46] rtfpessoa commented on #11
Maybe just have a `diff2html-ui` project that wraps this in a electro UI. But I mostly use it in the terminal so I never got the need for this.

[2017-05-12 03:37] kaushalmodi opened #26 ""The input is empty" error in an all-committed git repo"
When running `diff2html` in a non-dirty git repo (where everything has been committed), I get:

Should `diff2html` default to `diff2html HEAD~1` in that case?

[2017-05-12 03:43] kaushalmodi opened #27 "Improve alignment of diff2html -h"
When I type `diff2html -h`, I see:
![image](https://cloud.githubusercontent.com/assets/3578197/25981464/59bc7eee-36a3-11e7-97d4-3d4c5a1ae2fe.png)

I find the lack of column-based alignment make the output difficult to read. Compare to other CLI utility help outputs like `grep --help`:
![image](https://cloud.githubusercontent.com/assets/3578197/25981510/99e7a2fa-36a3-11e7-9fd3-175fa9f6ea67.png)

--

[2017-05-22 22:08] rtfpessoa commented on #27
The output is provided by `yargs` and I am not sure there is an option for that. If you find a way to do that I would gladly use it. But `yargs` has provided a great abstraction over the args so I really would not be willing to change unless there is a really good reason for it.

[2017-06-15 18:43] rtfpessoa commented on #26
In the past I had that behavior but it was a bit confusing. For that reason I removed it.

Unless we have a big reason I would prefer not to change it.

[2017-08-09 15:04] lzq420241 opened #28 "seems don't support property change"
for example, when the input is:
<div>
Property changes on: a.c
___________________________________________________________________<br>
Added: svn:executable<br>
## -0,0 +1 ##<br>
+*<br>
\ No newline at end of property<br>
Index:a.c<br>
===================================================================<br>
the output html is:<br>
 + * <br>
</div>

what I expected is:
src/{a.c (revision 1, filemode

[2017-08-10 23:51] rtfpessoa commented on #28
Hi @lzq420241,

That is not a valid unified diff. There is an open pr to support that diff but the owner is not updating it here https://github.com/rtfpessoa/diff2html/pull/125

[2017-08-10 23:51] #28 closed

[2017-12-25 13:18] Thatkookooguy opened #30 "something seems to be broken when using git HEAD^"
when I try to run `diff2html HEAD^`
it opens the web browser and says it found 0 changes

when I try to run `pretty-diff HEAD^`
it shows me the correct diff

Not sure what's wrong but seems like something is broken

Platform: MacBook Pro (Retina, 15-inch, Mid 2014) macOS Sierra 10.12.6

[2017-12-25 13:22] rtfpessoa commented on #30
You need to run 'diff2html -- HEAD^'. Notice the --.
On Mon, 25 Dec 2017 at 13:18, Neil Kalman <notifications@github.com> wrote:

--
Best,
Rodrigo

[2017-12-25 13:50] thatkookooguy commented on #30
still nothing when running with `diff2html -- HEAD^`
![screen shot 2017-12-25 at 15 50 11](https://user-images.githubusercontent.com/10427304/34340354-5a1e32ba-e98b-11e7-85dd-e68f4bfaacdf.png)

[2017-12-25 14:00] rtfpessoa commented on #30
That is quite weird, I cannot seem to replicate that even in the same OS.

Still, you can always do `git diff HEAD^ | diff2html -i stdin`.

[2017-12-25 14:27] thatkookooguy commented on #30
`git diff HEAD^ | diff2html -i stdin` still opens the web browser with `Files changed (0)`

`git diff HEAD^` **do** return an output

and here's the output for `pretty-diff HEAD^`:
![screen shot 2017-12-25 at 15 55 32](https://user-images.githubusercontent.com/10427304/34340634-75e4f8da-e990-11e7-9267-ad6b145bdc8f.png)

I have 6 changed files and **1 new file**. don't know if that helps, just thou

[2017-12-25 14:30] rtfpessoa commented on #30
Then, send me version you are using (`diff2html --version`) and the file output of `git diff HEAD^ > example.diff` so I can check.

[2017-12-25 14:34] thatkookooguy commented on #30
version: `2.5.3`

[and here's the `example.diff` file](https://gist.github.com/Thatkookooguy/fbaa9adf1ffe14f14186e8ba1b5b979c)

btw, same thing happens when I try and run `diff2html -i file -- example.diff` with the file I created

[2017-12-25 14:37] rtfpessoa commented on #30
Did you copy the output from your terminal, or did you pipe it like I said in the previous message?

I ask that because the output has color codes from your terminal which are definitely making the diff unusable.

Also do you have any kind of `.gitconfig`?

[2017-12-25 14:42] thatkookooguy commented on #30
used the command you sent me

yes, I have a `.gitignore` file in my repo.

here is the public repo I'm working on: https://github.com/Kibibit/kibibit-cli

I also committed the changes I have locally to a branch called `diff2html` so you can check out my specific changes. Maybe you'll be able to reproduce it with the same files + same changes
https://github.com/Kibibit/kibibit-cli/commit/be07fc85f4

[2017-12-25 14:44] thatkookooguy commented on #30
well.... I figured out from your answer that the colors mess things up.

tried running `git diff --no-color HEAD^ | diff2html -i stdin` and everything worked as expected

[2017-12-25 14:45] rtfpessoa commented on #30
You must have something like `color.ui=always` in $HOME/.gitconfig. try changing to `color.ui=auto`

[2017-12-25 14:48] thatkookooguy commented on #30
@rtfpessoa no, I don't unfortunately :-) (don't have any setting for color in my `$HOME/.gitconfig`)

but I think it will be good practice to add that flag (`--no-color`) to `diff2html`. It shouldn't break if colors are enabled in any way.

opened a PR with the flag added.

[2017-12-30 18:38] #30 closed

[2018-03-16 14:52] schaveyt opened #33 "Feature Request - cmdline argument to set the report title in the html"
I am working on documentation that is production release within our company and we started to used this great utility. One of the thing we need to do after the report is created is manually alter the text of the title and use the sed utility to change it.

However, it seem would be a uncontrovital request to allow the user to specify the text of the tile instead via the commandline please.

Though

[2018-03-16 15:19] rtfpessoa commented on #33
@schaveyt I think that  should be ok. You are the first person that brought that up.
Feel free to send a PR.

[2018-04-03 21:10] ceduliocezar opened #34 "change page title"
It is not possible to change the title of the output html diff from cli?

By default it displays Diff to HTML by rtfpessoa.

I would like to pass a parameter to  change it, but wasn't able to find it in the docs.

[2018-04-03 22:24] rtfpessoa commented on #34
Duplicate of https://github.com/rtfpessoa/diff2html-cli/issues/33

[2018-04-03 22:24] #34 closed

[2018-04-18 19:22] whyboris opened #36 "ignore package-lock.json"
## Problem
`package-lock.json` routinely has more than 2000 changes after `npm install` in a large project.

## Solution
Simply exclude `package-lock.json` from showing up in the _diff_. Optionally give users an option to include it if this behavior is desired.

[2018-04-18 19:25] rtfpessoa commented on #36
This project uses yarn so instead of `npm install` you should do `yarn`.

Still if you want to ignore that file feel free to send a PR.

[2018-04-18 20:41] whyboris commented on #36
Thank you for the quick response. Sorry if I've described the scenario poorly.

When using _diff2thtml-cli_ on (for example) an Angular project where _package.json_ was recently updated and `npm install` was run, _diff2html-cli_ *correctly* shows the diff between the old and the updated _package-lock.json_ files.

The problem arises that it's a large file with changes that are useless to (I assume

[2018-04-18 20:53] rtfpessoa commented on #36
Ok I think I got it.

I do not think removing any files by default it a good idea since some people might want to see them.

Still I can see two solutions for your problem. The quickest is excluding the files you want in the diff like this `git diff -- . ':(exclude)package-lock.json' | diff2html -i stdin`. The other would be like you described collapsing files with a lot of lines changed and that

[2018-04-26 19:36] alamothe commented on #36
It would be great to collapse huge files, and only load them on user click

`diff2html` can hang for minutes for files which are over 10k lines

[2018-04-27 23:07] myelsukov opened #37 "New Feature: Use random output file names instead of fixed diff.html"
Fixed (default) output file name (e.g. file:///private/var/folders/xz/jt5vrgxj3nb7vnb6hhp8lrvsqy78qg/T/diff.html) makes impossible looking into diffs from different projects at the same time because they override each other.

Please use either random default output file names or make output file name a function of the git repository name.

[2018-06-12 10:28] dpetrov opened #39 "Custom html diff to send per email"
In our internal application I am trying to pick up daily changes on few config files and send those diffs daily per email nicely formatted.
I currently see that pull request: [https://github.com/rtfpessoa/diff2html-cli/pull/38](https://github.com/rtfpessoa/diff2html-cli/pull/38) which should make available to override some template options, but I am wondering: is `jquery.js` and `highlight.js` at

[2018-06-12 20:47] tylerjpeterson commented on #39
@dpetrov - in my limited experience, neither are technically required to output a nice looking diff. I removed those scripts, the associated CSS, and the JS instantiation from the template without any issues. Pasted my bare-bones template below if it helps...

[code]

[2018-06-13 07:40] dpetrov commented on #39
Thanks @tylerjpeterson - it's much appreciated. How do you override the currently templates, before #38 goes live? Do you override it globally?

[2018-06-13 13:32] rtfpessoa commented on #39
Sorry for the delay. Will try to check this soon.

On Wed, 13 Jun 2018, 8:40 am Dimitar Petrov, <notifications@github.com>
wrote:

--
Best,
Rodrigo

[2018-06-13 21:14] tylerjpeterson commented on #39
@dpetrov - I've installed my fork directly via GitHub until it's accepted/denied.

[code]

[2018-06-14 14:40] dpetrov commented on #39
Thanks both of you, it's much appreciated. `--htmlWrapperTemplate` works nicely.

[2018-06-16 17:36] #33 closed

[2018-06-16 18:06] rtfpessoa commented on #39
Released as https://github.com/rtfpessoa/diff2html-cli/releases/tag/v2.6.0

[2018-06-16 18:06] #39 closed

[2018-06-16 18:07] rtfpessoa commented on #36
Any PRs are welcome.

[2018-06-16 18:07] #36 closed

[2018-06-16 18:07] rtfpessoa commented on #27
If we find any solution I can re-open this.

[2018-06-16 18:07] #27 closed

[2018-06-16 18:08] rtfpessoa commented on #37
Feel free to send a PR.

[2018-06-16 18:08] #37 closed

[2018-06-16 22:40] schaveyt commented on #33
Saweet! Will give the new release a shot.

[2018-12-17 06:41] arijitAD opened #41 "Dark theme"
Can you add Dark theme?

[2018-12-22 20:55] rtfpessoa commented on #41
@arijitAD PRs are welcome in to https://github.com/rtfpessoa/diff2html. If you want to try start with minimal changes to the current CSS.

[2018-12-22 20:55] #41 closed

[2019-02-04 19:45] whyboris commented on #11
@rtfpessoa could you clarify what you had in mind?

Did you mean something like an [_electron_](https://electronjs.org/) app that allows the user to use a GUI to select a project folder and view the diff in the app? This would provide a simple _refresh_ button and possibly some nice code folding, etc?

An _electron_ app _is_ overkill for this, but it's also very easy to create 🙆‍♂️

Please share y

[2019-02-04 23:56] rtfpessoa commented on #11
I don't remember exactly who, but someone gave this idea to me.
It would be to have a some GUI to use the tool.
It could just provide the visualization but also have features like receiving two strings and show the diff for them.

Overall `overkill` seems a nice description for this idea, but nonetheless I let it stay, if any day I had extra time to spend :smile:

Feel free to go at it

[2019-02-05 17:01] whyboris opened #46 "Convert to TypeScript?"
I'm curious if you think it's worth converting (at least part) of the codebase to _TypeScript_.

The key benefit would be type annotations for method inputs (to make it clear what the methods expect and what types they will return).

I could test out converting a single file to see whether everything works as expected 👌 but only if you think it worth the effort 👍

[2019-02-07 21:55] rtfpessoa commented on #46
@whyboris that could be interesting. The only thing I would like to keep would be to have nice compatibility with JS.

[2019-02-09 14:35] whyboris commented on #46
I'll give it a try sometime 😁

[2019-08-27 21:53] whyboris commented on #46
closed with #53 ✅

[2019-09-24 23:45] whophil opened #55 "Character-by-character highlighting?"
Is there a way to do character by character highlighting in diffs? For example:
![image](https://user-images.githubusercontent.com/2186528/65558077-49009800-deea-11e9-819b-427aca9bdf0f.png)
I would only want the last digit in each number to be dark-highlighted.

[2019-09-25 00:07] whophil commented on #55
It looks like this feature was lost with 4.0.0 (exists in 3.0.4 via the `diff2html-cli -d char`)

[2019-10-05 09:36] rtfpessoa commented on #55
@whophil thanks for the report. Seems like it got lost in the refactor. Will bring it back.

[2019-10-05 10:33] #55 closed

[2019-10-05 10:40] rtfpessoa commented on #55
Released as version `4.2.0`.
Sorry for the regression. For some reason I though the option changed name.
I need to move the diff2html code to TS to make sure these things don't happen.

[2019-10-08 06:06] whophil commented on #55
Thanks for the quick fix!

[2019-10-17 19:59] jdecode commented on #41
Was this implemented?
If not, I can create a PR for this. Didn't find any link to dark mode, except in here (I am assuming this was not done, but please confirm).

Note: I am having the need to integrate in a dark-themed app, so will have to do it anyway, it would be great if I can contribute here as well :)

[2019-10-19 13:53] rtfpessoa commented on #41
@jdecode this was not implemented yet.
If you are interested feel free to contribute.
Probably you want to check https://github.com/rtfpessoa/diff2html/issues/191 since CSS might need a fix to get different themes in the code highlight part.

[2019-12-07 00:18] timblaktu opened #58 "<diff2html-diff> element not working in template specified in --htmlWrapperTemplate"
UPDATE: I have confirmed that the "stock" template.html works in my environment. I apologize for the confusion. I suspect the problem is related to how I extended your "author" comment with more text. I would still like some clarification, and ideally some examples, on how these "variables" are to be used.

diff2html is not substiituting the diff content when I insert <diff2html-diff> element in a

[2019-12-07 16:06] timblaktu opened #59 "Include commit details in diff content"
@rtfpessoa Great Tool! It's going to enable me to implement submodule-aware changelogs in my Jenkins pipeline projects, with just 3 lines in the Jenkinsfile. :-)

Is there a way to coerce diff2html-cli to include diff details (author, commit msg, etc) into the html output? Seems a pretty basic functionality. If this isn't possible currently, I imagine I could do some variable substitution or code

[2019-12-08 13:28] rtfpessoa commented on #59
@timblaktu, the idea of diff2html is to support diff parsing and html generation. Since that kind of information is not available in the diff this would be a completely new type of parsing/sourcing of information.

I think it would be better for you to deal with it from your side. Does it make sense?

[2019-12-08 13:40] rtfpessoa commented on #58
@timblaktu let's try to go in parts here.

Regarding how the template works, it is a very basic replace as you can see here https://github.com/rtfpessoa/diff2html-cli/blob/master/src/cli.ts#L40
This will replace the comments in the HTML by the code to perform that action, since they are comments in the first place they won't break if they are not replaced.

Regarding your issue seems like you have

[2019-12-09 18:55] timblaktu commented on #58
Thanks for the clarification, @rtfpessoa. Yes, the stock template,html is working for me. I see in your code that you're doing a search and replace on the html comment. Maybe the README could be updated to be more explicit in this description, since it currently calls these comments "variables" and does not really describe how they work syntactically.

[2019-12-09 18:55] #58 closed

[2019-12-09 19:49] timblaktu commented on #59
Thanks, @rtfpessoa, I feel that what I'm requesting is very much in line with the idea of diff2html.
I think I now understand our differences, and why what I'm requesting isn't obvious to you:

You're expecting your users to generate diffs with `git diff`, whereas I'm using `git log -p --submodule=diff` to generate them.

You're expecting your users want to generate a single changeset across 2 com

[2019-12-22 16:42] rtfpessoa commented on #59
@timblaktu, thank you for the detailed explanation and examples.
I think I now see what you mean.

In general I do not see a problem in adding support for it.

The main challenge should be parsing the commit information in safe way, but should not be impossible.

If you are interested in contributing something like this we can open an issue in https://github.com/rtfpessoa/diff2html and talk a bit

[2019-12-22 16:44] rtfpessoa commented on #58
Improved the docs here https://github.com/rtfpessoa/diff2html-cli/pull/60
Let me know if you would add something else.

[2020-03-04 08:37] harpalsing2009 opened #93 "highlight.js is causing error for diff2html-ui-base.ts in angular5"
diff2html-UI-base.ts file's first line is commented with '///' instead of '//' comment, which causing error for angular 5 projects builds failed. Can we make the comment proper or make the highlight.js as a dependency.

![02_16_14](https://user-images.githubusercontent.com/32492798/75913103-2b274f80-5e07-11ea-9c42-3d4e9a2bd5ec.jpg)

[2020-03-10 18:32] rtfpessoa commented on #93
@harpalsing2009 this project is `diff2html-cli` which is just the cli to use `diff2html` from the terminal.
Since you are showing me compilation I assume you are using [diff2html](https://github.com/rtfpessoa/diff2html) the parser and html generator.

About the dependency on highlight.js it exists but is optional since you might just want to use the parser and highlight.js is not properly lightwei

[2020-03-10 19:15] harpalsing2009 commented on #93
Greetings Rodrigo,

Thank you for a quick response.
I am using the diff2html library with an angular5 cli project.

I did the following steps to integrate the library.
1. npm install diff2hml angular5 root folder
2. added all required files to angular-cli.json
3. imported diff2hml from node_modules files.

Integration works fine without any error. In the angular build process,
[image: diff2html-ui

[2020-03-10 21:08] rtfpessoa commented on #93
@harpalsing2009 can you try before messing with the node_modules to run `npm install --save-dev @types/highlight.js@9.12.3` and see if it solves your issue?

[2020-03-14 21:30] rtfpessoa opened #96 "Replace deprecated `request` by other more appropriate library"
Replace usage of `request` in https://github.com/rtfpessoa/diff2html-cli/blob/master/src/http-utils.ts#L1 by a more appropriate library.

I was thinking of `node-fetch` to match the browser APIs.

`axios` can also be an alternative.

[2020-03-14 21:32] rtfpessoa opened #97 "Update coverage reporting to Codacy"
Codacy deprecated the npm module for coverage reporting.

We need to replace https://github.com/rtfpessoa/diff2html-cli/blob/master/package.json#L55 by the new https://github.com/codacy/codacy-coverage-reporter#setup

[2020-04-15 11:31] vincentbernat opened #98 "Return code should be non-zero on error"
Hey!

When running `diff2html`, I would expect that a fatal error would return a status code different of 0. Currently, the error is printed but the status code says 0.

[2020-04-15 21:24] rtfpessoa commented on #98
I guess I never worked on that part. Eventually I should set `process.exitCode`

[2020-04-17 20:19] #98 closed

[2020-04-17 20:24] rtfpessoa commented on #98
Check https://github.com/rtfpessoa/diff2html-cli#exit-status-codes for the codes and you can also start using it in version `5.1.0`.

[2020-04-17 21:50] vincentbernat commented on #98
Thanks!

[2020-05-07 23:29] whyboris opened #100 "ignore.map is not a function"
Currently using the `--ig` flag does not work:
[code]
results in:
[code]
https://github.com/rtfpessoa/diff2html-cli/blob/1c9b955fe8b1c569499feb248ea81b7f749be154/src/cli.ts#L17

I've not looked into it, just reporting 😅

[2020-05-09 04:04] whyboris commented on #100
🎉 Looked into it, it's just a matter of updating the `yargs` type 😉

[code]
instead of `nargs: 1,` this line:
https://github.com/rtfpessoa/diff2html-cli/blob/master/src/yargs.ts#L177

[2020-05-09 10:11] #100 closed

[2020-05-09 10:15] rtfpessoa commented on #100
Released as version `5.1.1`

[2020-05-09 10:17] rtfpessoa commented on #97
Fixed by https://github.com/rtfpessoa/diff2html-cli/commit/6c2754221629ea772b3dc4c3bbfed7ab1c01d9e9

[2020-05-09 10:17] #97 closed

[2020-05-09 10:17] rtfpessoa commented on #96
Fixed by https://github.com/rtfpessoa/diff2html-cli/commit/6a77206ad0e052bcc869f2c51b4e1edb7817f2e1

[2020-05-09 10:17] #96 closed

[2020-05-09 10:17] rtfpessoa commented on #93
Closing for inactivity

[2020-05-09 10:17] #93 closed

[2020-05-19 01:59] whyboris opened #102 "-M flag exists?"
Looks like I'm responsible for adding this line:
https://github.com/rtfpessoa/diff2html-cli/blame/master/README.md#L135
`diff2html -s line -f html -d word -i command -o preview -- -M HEAD~1`

I think I added it after seeing this `example`:
https://github.com/rtfpessoa/diff2html-cli/blob/master/src/yargs.ts#L181
`'diff2html -s line -f html -d word -i command -o preview -- -M HEAD~1',`

But I don't

[2020-05-23 22:03] rtfpessoa commented on #102
Hi @whyboris, the `--` means all the following arguments will be passed to git directly.
In this case the `-M` corresponds to https://git-scm.com/docs/git-diff#Documentation/git-diff.txt--Mltngt

Any suggestion on how I could make this more explicit? A PR to improve this would be amazing 🤩

[2020-07-24 11:07] mensfeld opened #104 "Dependency update?"
Hey, first of all, thank you for this amazing lib and its maintenance.

I've noticed, that the package.json locks the diff2html to `3.1.6` while there's `3.1.9` ready with some bug fixes. Is there a chance for upgrade?

It does not want to use the newer release with yarn:

[code]

[2020-07-24 11:40] #104 closed

[2020-07-24 11:44] rtfpessoa commented on #104
Released as version ` 5.1.2`

[2020-07-24 14:18] mensfeld commented on #104
Woooooo that was quick. Thank you sooooooo much! You are amazing (seriously)!

[2020-07-24 14:55] rtfpessoa commented on #104
I was planning to do some maintenance and since you remembered me I just did it immediatly 😃

[2020-07-24 16:31] mensfeld opened #106 "Unescaped broken HTML in the output"
Hello again, this time a bug report:

Repro:

[code]
browser will open and then scroll to file called ` web/assets/javascripts/application.js ` it looks as followed:

![Zrzut ekranu z 2020-07-24 18-08-07](https://user-images.githubusercontent.com/392754/88413641-cd0dff80-cddb-11ea-98f4-e0ef825aeaa3.png)

while on a really, really old version of this cli (`2.7.0`), it looks like so:

![Zrzut ekranu

[2020-07-26 11:44] rtfpessoa commented on #106
Wow, some bad thing going on here.
Seems like in was introduced in version `5.0.0`. Last version where is seems fine is `4.2.1`.

[2020-07-26 13:01] #106 closed

[2020-07-26 13:16] rtfpessoa commented on #106
Reinstalling `diff2html-cli` should be enough to get the new version from `diff2html`.

Seems to work fine in the demo: https://diff2html.xyz/demo.html?matching=none&matchWordsThreshold=0.25&maxLineLengthHighlight=10000&diffStyle=word&renderNothingWhenEmpty=0&matchingMaxComparisons=2500&maxLineSizeInBlockForComparison=200&outputFormat=line-by-line&drawFileList=1&synchronisedScroll=1&highlight=1&fi

[2020-07-27 08:24] mensfeld commented on #106
Hey @rtfpessoa any idea what I can do beyond removing the `node_modules` from my project? I tried that, reinstalled and seeing same effects :(

cleaning yarn cache does not help as well

[2020-07-27 08:44] rtfpessoa commented on #106
Weird. I just did `yarn global remove diff2html-cli` and then `yarn global add diff2html-cli`.

If it is local to a repository I was expecting that `yarn remove diff2html-cli` followed by `yarn add diff2html-cli` would do it.

Can you try adding `--force` and see if it works?
If not I will add a new version. I was really expecting the `^3.x.x` to allow minor and patch updated automatically.

[2020-07-27 08:45] mensfeld commented on #106
@rtfpessoa please forgive me for pinging you prematurely. I forgot to update the `yarn.lock` file, thus it was pointing to the old version of diff2html. After purging, cleaning and forcing things work great.

Once again: thank you for your amazing work!

[2020-07-27 08:50] rtfpessoa commented on #106
No worries. Nice that it worked.

[2020-10-16 08:30] rtfpessoa opened #108 "Selecting an output file is not overriding the preview open"
When running `git diff HEAD~5 | diff2html -i stdin -F /tmp/cenas.diff` this still opens a preview in the browser.

As a workaround we can run `git diff HEAD~5 | diff2html -i stdin -F /tmp/cenas.diff -o stdout`

[2020-10-16 08:34] rtfpessoa commented on #59
@timblaktu If you plan to comeback to this, let me know.

[2020-10-16 08:34] #59 closed

[2020-10-16 08:34] #102 closed

[2020-10-19 18:01] #108 closed

[2020-10-19 18:02] rtfpessoa commented on #108
Released in version `5.1.6`

[2020-12-11 00:18] eduardocopat commented on #34
I still think there would be value to have a flag to set a title (for example, `--title My Title`).

[2021-01-11 10:36] darrenchang opened #113 "ENOBUFS error when comparing large commits"
I have a really large commit on my private repository. It contains a new json file that has over 40000 lines.
When I try to compare the commit, it shows the following error.
[code]

How can I increase the buffer size to complete this compare?

[2021-01-23 18:19] rtfpessoa commented on #113
Hi @darrenchang,

Unfortunately seems like the option is to make diff2html handle this in a streaming way as described here https://stackoverflow.com/questions/48698234/node-js-spawn-vs-execute

In theory it should not be hard since we parse the diff line by line, but I never tried to optimize this.
Also if you want to contribute the change this should be fixed in https://github.com/rtfpessoa/diff

[2021-01-27 15:21] fraballi opened #114 "Cannot make to work API from imported library"
I'm using:

[code]

__Note:__ Diff content is already stored in variable: `changes`.

But cannot export html with diff content, only obtained empty template such as:
[code]
Also, tried docs example (with a `.diff` file exported) without success:
`diff2html -i file -- my-file-diff.diff`

Kindly, can point to any direction?

[2021-01-30 19:47] rtfpessoa commented on #114
Can you provide and example of what is your changes content?
If you want to just inject something in the dom you can use [Diff2HtmlUI](https://github.com/rtfpessoa/diff2html#diff2htmlui-usage) directly

Keep in mind that this repository is just the CLI, if you want to use the parser and generator directly you should check [Diff2Html](https://github.com/rtfpessoa/diff2html)

[2021-01-30 21:29] fraballi commented on #114
I need both: parser and htmlUI, for sending an email with a `Diff2Html` file attached (zipped html) but also replacing message body content with html output.

Tried this also without success:
__package.json__
[code]
__index.js__
[code]

[2021-01-30 22:35] rtfpessoa commented on #114
`diff2` is not a valid unified diff (which is a subset of git diff)
Check https://www.gnu.org/software/diffutils/manual/html_node/Example-Unified.html#Example-Unified for more details.

[2021-01-30 23:15] fraballi commented on #114
Here is an example, checking postman collections. Could only put a fragment, due to privacy issues. ;-)
Should this format work, also using `git-diff` npm? Kindly, can suggest any npm superset library, for comparing text instead of files as: `git diff` does?
[code]
Same output for:
[code]

[2021-01-30 23:22] rtfpessoa commented on #114
That still seems invalid.
The minimum  you need is the names of the old file and the new file prefixed by `---` and `+++` respectively, then you have the hunks that start with the line numbers `@@` and then the changed lines prefixed with ` `, `-`, `+`.

You are at least missing the file names.

[2021-01-30 23:46] fraballi commented on #114
So, the solution is aimed to files (`git diff`) instead of text-only.
Then, could add dummy section to the top:

[code]
Which time format is: `2002-02-21 23:30:50.442260588 -0800`?
Perhaps:

| Format | Example|
| --- | --- |
|yyyy-MM-dd HH:mm:ss.SSSZZZZ | 2017-03-12 13:11:34.222-0700 |

From: [Timestamps, Time Zones, Time Ranges, and Date Formats](https://help.sumologic.com/03Send-Data/Sources/04R

[2021-01-31 18:22] rtfpessoa commented on #114
As explained in the readme this tool supports parsing the `unified diff format` which git diff builds over.

The data format is described [here](https://www.gnu.org/software/diffutils/manual/html_node/Detailed-Unified.html#Detailed-Unified) although I don't think it is used for anything.

[2021-01-31 18:45] fraballi commented on #114
Many thanks, already accomplished all the objectives. Made a test project and compared `git diff` output with the article on GNU diff command (dates weren't there).

Next, using `git-diff` superset library with a prepended mocked header as:

[code]
Appreciate all the help and resources posted. Great project by the way ;-)

[2021-01-31 19:44] rtfpessoa commented on #114
Glad you got it working

[2021-01-31 19:44] #114 closed

[2021-02-09 19:50] gmonceyron opened #115 ""--ig" argument leads to git diff error"
Hi,

I encounter a git diff error when I run the following command using diff2html-cli :
[code]
I get this error :
[code]
Am I doing something wrong ? What am I missing ?

Version details :
* npm 7.5.1
* node 15.8.0
* diff2html 5.1.7

[2021-02-20 11:38] rtfpessoa commented on #115
Hi @gmonceyron,

Seems like there is a conflict with the name `ci` and git cannot differentiate it from a branch or tag.
I did a possible fix as suggested by then error message and released it in version `5.1.8-fixignorepathsusespawn.1.37dcf7e`.
Can you check if it is fixed and let me know?

[2021-02-20 11:40] rtfpessoa commented on #113
Hi @darrenchang,

I did a possible fix and released it in version `5.1.8-fixignorepathsusespawn.1.37dcf7e`.
Can you check if it is fixed and let me know?

[2021-02-20 11:43] rtfpessoa commented on #34
Feel free to send a PR

[2021-02-21 18:45] rtfpessoa commented on #115
Let me know if it is not fixed and I will re-open

[2021-02-21 18:45] rtfpessoa commented on #113
Let me know if it is not fixed and I will re-open

[2021-02-21 18:45] #113 closed

[2021-02-22 08:38] gmonceyron commented on #115
Hi @rtfpessoa,

Thanks for investigating so promptly.
I am not sure to understand this part :

I understood that the _--ig_ flag was to use to exclude files/folders, not tags or branches.
My filetree has evolved, it is not _ci_ anymore I want to exclude, but _.gitlab_, I encounter the same issue.

Thanks,
Regards,
Guillaume

[2021-02-22 09:25] rtfpessoa commented on #115
@gmonceyron that is weird, can you create/provide a repository where I can replicate the issue?

[2021-02-22 10:20] gmonceyron commented on #115
@rtfpessoa I just created [a public Gitlab project](https://gitlab.com/gmonceyron/diff2html-cli-issue-115) to reproduce the same error using a similar gitlab-ci pipeline.
You can see [in the job logs](https://gitlab.com/gmonceyron/diff2html-cli-issue-115/-/jobs/1046331462) the error I get.

[2021-02-28 21:44] rtfpessoa commented on #115
@gmonceyron I did not release a new version, seems like I forgot to click approve in the release :facepalm:
Can you try again and log the version you are using with `diff2html --version`

[2021-05-07 22:57] rtfpessoa commented on #115
Let me know if the problem still occurs

[2021-05-07 22:57] #115 closed

[2022-05-10 09:21] maxvisser opened #135 "diff2html is missing file content toggle"
As I saw that this feature was added and in the demo. I looked into the code on how to enable it.

<img width="199" alt="image" src="https://user-images.githubusercontent.com/10818702/167595363-cbf27359-1834-47bc-9418-c9f1a5f4bea9.png">

I opened a pull request
https://github.com/rtfpessoa/diff2html-cli/pull/134

[2022-05-16 15:39] ggft-ggft opened #136 "--title option not working"
Hello, I'm trying using with the '--title' option but it does not seem to work in the output html.

Example:

![image](https://user-images.githubusercontent.com/61045136/168630756-d45881ef-96bd-410a-b220-fa16dd63c77c.png)

Output:

![image](https://user-images.githubusercontent.com/61045136/168630837-e4cf0315-9087-4a8e-9ca2-cc99c7c4d0ac.png)

I installed the cli tool with `npm install -g diff2html

[2022-06-03 22:04] rtfpessoa commented on #136
Thanks for reporting. Fix here https://github.com/rtfpessoa/diff2html-cli/pull/137

I never had tested this myself and did only a eye review. 🤦

[2022-06-03 22:07] rtfpessoa commented on #136
Released as version `5.2.3`

[2022-06-03 22:07] #136 closed

[2022-06-03 22:09] rtfpessoa commented on #135
Thank you for the contribution

[2022-06-03 22:09] #135 closed

[2022-06-18 09:33] zzjin opened #138 "miss-align when show some diff file"
Hello, I'm trying to use this tool to show git diffs but find at my diff file, the side-by-side is not aligned.

diff file:
<details>
  <summary>Click to expand!</summary>

[code]
</details>

strang output:
![174431406-ff498f5d-4aba-4e7d-8381-7fc4c0883154](https://user-images.githubusercontent.com/679757/175755058-767a41fb-fbc9-45ff-932d-f9cb9ac85e60.png)

[2022-06-24 20:24] rtfpessoa commented on #138
👋 Can you explain what you mean by not aligned or how you would expect it to look?

[2022-06-25 02:38] zzjin commented on #138
Updated. the diff file left and right are not aligenment same line. other diff files are one the same line like below:
![image](https://user-images.githubusercontent.com/679757/175755117-7426acaf-39b3-4541-a94a-3c0c48eba209.png)

[2022-06-27 19:59] rtfpessoa commented on #138
I think you have to be more specific, I still cannot see what you mean.

[2022-07-13 10:25] m-masaki72 commented on #138
I had the same problem with MisAlign, and I solved it by putting the following condition in the CSS.
I have submitted a PR to Diff2HTML, so please merge it if you want.

https://github.com/rtfpessoa/diff2html/pull/441

[2022-07-15 01:38] SichangHe opened #140 "Still running out of heap memory while allowing node 60GB"
[code]

[2022-07-15 01:41] SichangHe commented on #140
The diff is HUGE though…

[code]

Am I screwed? 😭

[2022-07-15 01:43] SichangHe commented on #140
Some information about the machine:

[code]

[2022-07-15 01:47] SichangHe commented on #140
Memory specs:

[code]

[2022-07-24 17:36] #138 closed

[2022-07-24 17:41] rtfpessoa commented on #140
That diff is HUGE. It is a very weird scenario.
I don't have time to dig where might be the problem, if there is even one.

[2022-07-24 17:42] #140 closed

[2022-08-03 09:39] Ps7ch3 opened #141 "'--renderNothingWhenEmpty' didn't work when using 'stdin' as input"
[code]

I wonder if there is a way to get the display content like in this issue when using 'stdin' as input source
- https://github.com/rtfpessoa/diff2html/issues/212

[2022-09-02 21:07] rtfpessoa commented on #141
👋 @Ps7ch3 this option is not exactly for this case. It just works when you have a diff but it has no chunks.

In your case you have no diff, literally no content.

This could be tweaked I guess.

It would be fine for me to allow this flag to not fail if content is empty.

Feel free to send a PR